<div class="login-register" style="background-color: #fff2f4;">
  <div class="login-register-box">
      <mat-card>
        <mat-card-content>
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="text-center">
              <img src="assets/images/akaun_light.png" alt="homepage">
              <h4 class="m-t-0">Sign in to Admin</h4>
            </div>
            <div fxLayout="row wrap">
              <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                <mat-form-field>
                  <input matInput placeholder="Email" [formControl]="form.controls['email']">
                </mat-form-field>
                <small *ngIf="form.controls['email'].hasError('required') && form.controls['email'].touched" class="text-danger support-text">Username is required.</small>
              </div>
              <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                <mat-form-field>
                  <input matInput [type] = "hide ? 'password': 'text'" placeholder="Password" [formControl]="form.controls['password']">
                  <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                </mat-form-field>
                <small *ngIf="form.controls['password'].hasError('required') && form.controls['password'].touched" class="text-danger support-text">Password is required.</small>
              </div>
              <div fxFlex.gt-sm="50" fxFlex.gt-xs="50">
                <mat-checkbox color="warn">Remember me</mat-checkbox>
              </div>
              <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" class="text-right">
                <a [routerLink]="['/forgotpass']" class="link">  Forgot pwd?</a>
              </div>
              <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                <button mat-raised-button color="primary" class="btn-block btn-lg m-t-20 m-b-20" type="submit" [disabled]="!form.valid">Login</button>
              </div>
              <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" class="text-center">
                            <span>Don't have an account?
                                <a [routerLink]="['/register']" class="text-info link">Register</a>
                            </span>
              </div>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
  </div>
</div>
