<div class="login-register" style="background-color: #fff2f4;">
    <div class="login-register-box">
        <mat-card>
          <mat-card-content>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
              <div class="text-center">
                <img src="assets/images/akaun_light.png" alt="homepage">
                <h4 class="m-t-0">Reset Password</h4>
              </div>
              <div fxLayout="row wrap">
                <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                  <mat-form-field>
                    <input matInput placeholder="Code" [formControl]="form.controls['code']">
                  </mat-form-field>
                  <small *ngIf="form.controls['code'].hasError('required') && form.controls['code'].touched" class="text-danger support-text">Code is required.</small>
                </div>
                <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                  <mat-form-field>
                    <input matInput [type] = "hide ? 'password': 'text'" placeholder="New Password" [formControl]="form.controls['password']">
                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                  </mat-form-field>
                  <small *ngIf="form.controls['password'].hasError('required') && form.controls['password'].touched" class="text-danger support-text">New Password is required.</small>
                </div>
                <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                    <mat-form-field style="width: 100%">
                      <input matInput placeholder="Confirm Password" [formControl]="form.controls['confirmpassword']"  [type]="confirmpasswordhide ? 'password': 'text'">
                      <mat-icon matSuffix (click)="confirmpasswordhide = !confirmpasswordhide">{{confirmpasswordhide ? 'visibility' : 'visibility_off'}}</mat-icon>
      
                    </mat-form-field>
                    <small *ngIf="form.controls['confirmpassword'].hasError('required') && form.controls['confirmpassword'].touched" class="text-danger support-text">You must include confirm password.</small>
                    <small *ngIf="form.controls['confirmpassword'].errors?.equalTo" class="text-danger support-text">Passwords do not math.</small>
                  </div>
               <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                  <button mat-raised-button color="primary" class="btn-block btn-lg m-t-20 m-b-20" type="submit" [disabled]="!form.valid">Submit</button>
                </div>
              </div>
            </form>
          </mat-card-content>
        </mat-card>
    </div>
  </div>
  